assemblyai==0.31.0
deep-translator==1.11.4
faiss-cpu==1.8.0.post1
fitz==0.0.1.dev2
Flask==3.0.3
google-generativeai==0.7.2
langchain==0.2.11
langchain-community==0.2.10
langchain-google-genai==1.0.8
markdown==3.6
PyPDF2==3.0.1
python-dotenv==1.0.1
python-pptx==0.6.23
requests==2.32.3
streamlit==1.36.0
streamlit-image-select==0.6.0
vertexai==1.49.0
frontend==0.0.3
tools==0.1.9
PyMuPDF==1.24.8
opencv-python==4.10.0.84
cvzone==1.6.1
mediapipe==0.10.14