assemblyai
elevenlabs
faiss-cpu
fitz
Flask
google-generativeai
langchain
markdown
python-pptx
PyPDF2
python-dotenv
requests
streamlit
streamlit-image-select
vertexai
langchain-community
langchain-google-genai
frontend
deep-translator